<h1>Create your Gab</h1>

<div class="container">
  <div class="row">
    <form class="" action="/add" method="post">
      <textarea name="newGab" rows="8" cols="80"></textarea>
      <input class="button" type="submit" value="Create">
    </form>
  </div>
</div>
