<h1>Gabble</h1>

<div class="row">
  <a class="button" href="#">Home</a>
  <a class="button" href="/add">Create a new gab</a>
  <a class="button" href="/login">Log in</a>
  <a class="button" href="/logout">Log out</a>
</div>
