body {
  background-color: #999;
}

.banner {
  text-align: center;
  background-color: #5cb85c;
  color: #fff;
  padding: 20px;
}

.link-row {
  max-width: 44%;
  margin: 0 auto;
}

.gab-row, #liked-gab {
  border: 1px solid #333;
  border-radius: 5px;
  max-width: 50%;
  padding: 10px;
  margin: 0 auto 20px auto;
  background-color: #fff5ee;
}

.auth {
  border: 1px solid #777;
  color: #fff;
  background-color: #5cb85c;
  border-radius: 5px;
  padding: 1px 3px;
  width: fit-content;
}

.like-link {
  text-decoration: none;
}

#like-button, #create-button {
  color: #fff;
  background-color: #428bca;
}

.button {
  color: #fff;
  background-color: #428bca;
}

#home-button {
  max-width: 7%;
}

#liked-gab {
  margin-top: 75px;
}

.fan-list {
  list-style: none;
}
